*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #ccc;
}
.wrap{
	margin:0 auto;
	background-color: #fff;
}
.wrap div{
	display: flex;
	align-items: center;
    justify-content: center;
	border:1px solid black;
}
div{
	margin: 10px;
}
.buttons{
	width: 800px;
	margin-left: 300px;
}
button,input{
	width: 150px;
	height: 25px;
	text-align: center;
}