    body{
      margin:0;
      padding:0;
      background-color: #000;
    }
    #buttons{
      display: inline-block;
      zoom:1;
      *display:inline;
    }
    .clearfix::after{
      content: " ";
      display: table;
      clear: both;
    }
    .clearfix{
       zoom:1;
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      height: 150px;
    }
    ul li{
      display: inline-block;
      zoom:1;
      *display:inline;
      background-color: red;
      width: 10px;
      margin-right: 5px;
      font-weight: bold;
      color: #fff;
      line-height: 150px;
    }
    .wrap{
      width: 950px;
      margin:300px auto;
      background-color: #fff;
      padding: 10px;
    }