.radius{
	height: 100px;
	width: 100px;
	background-color: #fc0;
}
.radius1{
	position: absolute;
	top: -50px;
	left: -50px;
	border-radius: 0 0 50px 0;
}
.radius2{
	position: absolute;
	right: -50px;
	bottom: -50px;
	border-radius: 50px 0 0  0;
}
.main{
	height: 200px;
	width: 400px;	
	background-color: #ccc;
	position: relative;
	overflow: hidden;
}
.box{
	min-width: 500px;
	height: 400px;
	border: 1px solid blue;
}
.container1{
	position: absolute;
	top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -200px;
}
.method1{
	position: relative;

}
.method2{
	display: flex; 
	justify-content: center;
	align-items: center; 
}

