body,ul{
	margin:0;
	padding:0;
}
body{
	background-color:#111;
	font-family: Arial,"simson","Microsoft YaHei",Serif;
}
ol{
	list-style: none;
}
/*img尺寸设置和3px消除*/
img{
	vertical-align: text-top;
}
.wrap{
	min-width: 800px;
	width: 80%;
	margin:0 auto;
	background-color:#eee;
}
.footer{
	text-align: center;
	pading:10px;
}
.clearfix::after{
	content: " ";
	display: table;
	clear: both;
}
.content{
	width: 100%;
	float:left;	
}
.main{
	margin-right:406px;
}
.wrap .aside{
	float:left;
	margin-left: -406px;
}
/*导航栏样式设置*/
.nav{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #333;
	position: relative;
}
.nav img{
	padding-left: 1em;
}
.nav ul{
	position: absolute;
	top:0;
	right: 0;
	list-style-type: square;
}
.nav li{
	float: left;
	list-style: square;
	font-size: 13px;
	margin-right: 1.5em;
}
.nav li a{
	display: block;
	text-decoration:none;
	font-weight: normal;
	color: #fff;
}
.nav li:last-child a{
	color:#eee;
}
.nav li a:hover{
	font-weight: bold;
}
/*课程信息设置*/
.blog-url{
	text-align: center;
}
.section{
	margin: 20px;
	border:2px inset #000;
	padding: 10px;
	background-color: #fff;
}
/*左侧栏目设置*/
h1{
	font-size: 20px;
	line-height: 1em;
}
.article h2{
	font-size: 15px;
	line-height: 1em;
}
.article ol:first-child{
	list-style: none;
}
.article1 p{
	text-indent: 2em;
}
blockquote{
	margin-left: 2em;
	border-left: 0.5em solid #cdcdcd;
	padding-left: 0.5em;
}
.images ul{
	list-style: none;
}
.images li{
	margin:10px;
	display: inline-block;
	padding: 10px;
	border: 1px solid #ccc;
}
.images li div{
	padding-bottom: 10px;
	text-align: center;
}

/*右侧表格栏目设置*/
.aside{

display: inline-block;	width: 360px;
}
.aside blockquote{
	margin-left: 0;
    border-left: 5px solid #cdcdcd;
    padding: 0.5em;
    font-weight: bold;
}

.tbl table{
	border-collapse:collapse;
	table-layout: fixed;
	width: 100%;
}
.tbl table tr:first-child{
	background-color: #555;
	text-align: left;
}

.tbl table tr:first-child td{
	width: 30%;
}
.tbl table tr:first-child td:last-child{
	width: auto;
}
.tbl table tr:last-child{
	background-color: silver;
}

.form table{
	table-layout: fixed;
	width: 100%;
}
.form table th{
	width: 35%;
}
.tbl table tr:first-child td:last-child{
	width: auto;
}

.form table tr td:first-child,.form table th{
	font-weight: normal;
	text-align: right;
}
.form .tips{
	font-size: 13px;
	color: red;
}
.form .personal-desc{
	vertical-align: top;
}
#opotion-button div{
	width: 100%;
	height: 38px;
	background-color: #3355d0;
	border-radius:5px;
	text-align: center;
}
#opotion-button input{
	height: 38px;
	text-align: center;
	background: none;
	border: none;
	color: #fff;	
	font-size:16px;
}

